</<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit|Orbitron" type="text/css" />
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

        {% include meta.html %}
        
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    </head>
    
    <body>
        <div class="wrapper-masthead">
            <div class="container">
                <header class="masthead clearfix">
                    <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
                    
                    <div class="site-info">
                        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
                        <p class="site-description">{{ site.description }}</p>
                    </div>
                    
                    <nav>
                        <a href="{{ site.baseurl }}/"><i class="fa fa-book"></i> Blog</a>
                        <a href="{{ site.baseurl }}/about"><i class='fa fa-user'></i> About</a>
                        <a href="{{ site.baseurl }}/online-cv"><i class='fa fa-user-plus'></i> CV</a>
                    </nav>
                </header>
            </div>
        </div>
        
        <div id="main" role="main" class="container">
            {{ content }}
        </div>
        
        <div class="wrapper-footer">
          <div class="container">
            <footer class="footer">
              {% include footer.html %}
            </footer>
          </div>
        </div>
        
        {% include analytics.html %}
        
    </body>
</html>